:root {

    --light: #f8f9fa;
    --gray-dark: #343a40;
    --headerGreen: #28a745;
    --lightPink: #e286cd;
    --aqua: #28a785;
}


html {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    width: 100%;
    display: table-cell;
}

html,
body {
    margin: 0;
    padding: 0;
}

.bigdiv {
    min-height: 100%;
}


/* header */
.jumbo {
    background-color: var(--headerGreen);
    color: var(--light);
    font-family: 'roboto';
    margin-bottom: 0px;
    height: 450px;
    width: 100%;

}

.info {
    padding-top: 150px;
    padding-left: 15%;
}

.display-4 {
    font-weight: bolder;
    font-size: 84px;
    font-family: 'roboto';
}


.quote {
    color: var(--light);
    font-size: 26px;
    font-weight: bold;
    margin: 5px;
    font-family: 'roboto';
}

/* navbar */
.nav-link {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    padding-top: 120px;
    margin-left: 30px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'roboto';
    color: var(--headerGreen);
}

/* navbar */
.nav-bar {
    display: flex;
    flex-direction: row;
    width: 5%;
    height: 100vh;
    background-color: var(--gray-dark);
    margin-right: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}


/* about section */
.card {
    background-color: var(--white);
    color: var(--gray-dark);
    margin-top: 4%;
    margin-left: 15%;
    width: 60%;
    height: 250px;
    font-weight: bolder;
    font-family: 'roboto';
    border: none;
    margin-bottom: 42%;

}



.card-body {
    padding: 30px;
}

.card-title {
    font-weight: bolder;
    font-family: 'roboto';
    font-size: 36px;
    padding-bottom: 2%;
}

.liz-img {
    border-radius: 50%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 10%;
}

.card-text {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 20px;
    padding-bottom: 2%;
}

/* portfolio section */
.picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    position: relative;
    height: 350px;
    margin-left: 5%;
    margin-right: 15%;
}

.picture2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    position: relative;
    margin-left: 5%;
    margin-right: 15%;
    margin-bottom: 20%;
    height: 350px;
}


.card-img {
    height: 300px;
    width: 350px;
    margin: 20px;

}



.text {
    font-weight: bolder;
    padding-top: 20px;
    width: 325px;
}

.text-2 {
    font-weight: bolder;
    color: black;
    padding-top: 20px;
    width: 325px;

}

.text-3 {
    font-weight: 600;
    color: var(--aqua);
    padding-left: 10px;
    padding-top: 20px;
    width: 325px;
}

.links {

    font-family: 'roboto';
    font-size: 24px;
    color: white;
    width: 325px;
    display: block;
    padding: 10px
}

.links-2 {
    font-family: 'roboto';
    font-size: 24px;
    color: black;
    width: 325px;
    display: block;
    padding: 10px
}

/* contact section*/
.formDiv {
    margin-bottom: 30%;
}

form {
    font-weight: bolder;
    font-family: 'roboto';
    font-size: 24px;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 20px;
}

.error-text {
    font-weight: bolder;
    font-family: 'roboto';
    font-size: 24px;
    margin-left: 15%;
    margin-top: 10px;


}

#resume {
    background-color: var(--headerGreen);
    color: var(--light);
    margin-bottom: 150px;
}

/* footer */
.footer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
    position: fixed;
    background-color: var(--gray-dark);
    height: 5vh;
    bottom: 0;
    width: 100%;

}

.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'roboto';
    padding-top: 5px;
    padding-right: 10px;
    color: var(--lightPink);
}


/* about section */
@media screen and (max-width: 912px) {
    .card-title {
        font-weight: bolder;
        font-family: 'roboto';
        font-size: 24px;
    }
}

@media screen and (max-width: 912px) {
    .card-text {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 912px) {
    .liz-img {
        border-radius: 50%;
        height: 100px;
        margin-top: 20px;
        margin-bottom: 150px;
    }
}

/* header */
@media screen and (max-width: 912px) {
    .jumbo {
        background-color: var(--headerGreen);
        color: var(--light);
        font-family: 'roboto';
        margin-bottom: 0px;
        height: 250px;
        width: 100%;

    }
}

@media screen and (max-width: 912px) {
    .info {
        padding-top: 40px;
        padding-left: 15%;
    }
}


@media screen and (max-width: 912px) {
    .display-4 {
        font-weight: bolder;
        font-size: 48px;
        font-family: 'roboto';
    }
}

@media screen and (max-width: 912px) {
    .quote {
        color: var(--light);
        font-size: 18px;
        font-weight: bold;
        margin: 5px;
        font-family: 'roboto';
    }
}


/* navbar */
@media screen and (max-width: 912px) {
    .nav-bar {
        display: flex;
        flex-direction: row;
        width: 10%;
        height: 110vh;
        background-color: var(--gray-dark);
        margin-right: 0;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

    }
}

@media screen and (max-width: 912px) {

    .nav-link {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        padding-top: 10px;
        margin-left: 2px;
        font-size: 24px;
        font-weight: 600;
        font-family: 'roboto';
        color: var(--headerGreen);
    }
}

/* portfolio section */
@media screen and (max-width: 912px) {
    .picture {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: relative;
        height: auto;
        margin-left: 5%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 912px) {
    .picture2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        position: relative;
        margin-left: 5%;
        margin-right: 15%;
        height: auto;
    }
}

/* portfolio section 450px */
@media screen and (max-width: 450px) {
    .picture {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: relative;
        height: auto;
        margin-left: 10%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 450px) {
    .picture2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        position: relative;
        margin-left: 10%;
        margin-right: 15%;
        height: auto;
    }
}

@media screen and (max-width: 450px) {
    .card-img {
        height: 150px;
        width: 200px;
        margin: 10px;

    }
}

@media screen and (max-width: 450px) {
    .card-img-overlay {
        margin: 10px;

    }
}

@media screen and (max-width: 450px) {
    .text {
        font-weight: bolder;
        padding-top: 5px;
        width: 200px;
    }
}

@media screen and (max-width: 450px) {
    .text-2 {
        font-weight: bolder;
        color: black;
        padding-top: 5px;
        width: 200px;
    }
}

@media screen and (max-width: 450px) {
    .text-3 {
        font-weight: bolder;
        font-size: 18px;
        color: var(--aqua);
        padding-left: 5px;
        padding-top: 5px;
        width: 200px;
    }
}

@media screen and (max-width: 450px) {
    .links {

        font-family: 'roboto';
        font-size: 18px;
        color: white;
        width: 200px;
        display: block;
        padding: 5px;
    }
}

@media screen and (max-width: 450px) {
    .links-2 {
        font-family: 'roboto';
        font-size: 18px;
        color: black;
        width: 200px;
        display: block;
        margin: 5px;
    }
}

/* resume */

@media screen and (max-width: 912px) {
    #resume {
        background-color: var(--headerGreen);
        color: var(--light);
        margin-bottom: 150px;
    }
}


/* footer section */
@media screen and (max-width: 912px) {

    .footer {

        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 5px;

        background-color: var(--gray-dark);
        height: 5vh;
        bottom: 0;
        width: 100%;
        position: fixed;
    }
}

@media screen and (max-width: 912px) {

    .footer-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 18px;
        padding-left: 5px;
        font-weight: bolder;
        font-family: 'roboto';
        padding-top: 2px;
        color: var(--lightPink);
    }
}