:root {

    --light: #f8f9fa;
    --gray-dark: #343a40;
    --headerGreen: #28a745;
    --lightPink: #e286cd;
    --aqua: #28a785;
}

body,
html {
    min-height: 100%;
    margin: 0;

}

.bigdiv {
    min-height: 100%;
}


/* header */
.jumbo {
    background-color: var(--headerGreen);
    color: var(--light);
    font-family: 'roboto';
    margin-bottom: 0px;
    height: 450px;
    width: 100%;

}

.info {
    padding-top: 150px;
    padding-left: 15%;
}

.display-4 {
    font-weight: bolder;
    font-size: 84px;
    font-family: 'roboto';
}


.quote {
    color: var(--light);
    font-size: 26px;
    font-weight: bold;
    margin: 5px;
    font-family: 'roboto';
}

/* navbar */
.nav-link {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    padding-top: 120px;
    margin-left: 30px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'roboto';
    color: var(--headerGreen);
}

/* navbar */
.nav-bar {
    display: flex;
    flex-direction: row;
    width: 5%;
    min-height: 180vh;
    background-color: var(--gray-dark);
    margin-right: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}


/* about */
.card {
    background-color: var(--white);
    color: var(--gray-dark);
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
    height: 250px;
    font-weight: bolder;
    font-family: 'roboto';
    border: none;
    margin-bottom: 42%;

}


.card-body {
    padding: 30px;
}

.card-title {
    font-weight: bolder;
    font-family: 'roboto';
    font-size: 36px;
}

.liz-img {
    border-radius: 50%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 10%;
}

.card-text {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 20px;
}

/* portfolio section */
.picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.picture2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;

}


.rounded {
    height: 300px;
    width: 350px;
    margin: 20px;
}

/*email*/
.email {
    font-weight: bolder;
    font-family: 'roboto';
    font-size: 24px;
}

/* footer */
.footer {

    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 20%;
    background-color: var(--gray-dark);
    height: 50px;
    bottom: 0;
    width: 100%;
}

.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    font-weight: bolder;
    font-family: 'roboto';
    color: var(--lightPink);
}